{% extends 'home.html' %}

{% block auth %}



<div class="left-signup-container">
  <div class="signup-box">

      <div class="email-signup-box">
          <form class ='form-login' style='font-size:0.2rem' method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="login-btn" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
          </form>
      </div>
  </div>
</div>

{% endblock %}
