{% extends 'base.html' %}

{% block content %}

<div class="signup-main-container">

    <div class="left-signup-container">

        <div class="signup-box">

            <div class="third-party-signup-box">
                <div id="signup-header">Create New Account</div>
                <div>SignUp with</div>
                <div class="signup-icons">
                    <img id="facebook-logo" src="https://i.imgur.com/nbbV2eM.png">
                    <div>or</div>
                    <img id="google-logo" src="https://i.imgur.com/2St3bY6.png">
                </div>
                <div id="enclosed-signup-text">or use your email</div>
            </div>

            <div class="email-signup-box">
                <input type="text" name="user-name" placeholder="User Name">
                <input type="text" name="password" placeholder="Password">
                <input type="text" name="password-confirmation" placeholder="Re-enter Password">
                <button id="signup-button">SignUp</button>
            </div>

        </div>

    </div>

    <!-- Floating bubbles. -->
    <div id='pink-circ'></div>
    <div id='blue-circ'></div>
    <div id='purple-circ'></div>

    <!-- iPhone image layers. -->
    <img id="phone-template" src="https://i.imgur.com/Mgr8zVE.png">
    <img id="phone-screen" src="https://i.imgur.com/caZOa0E.png">
    <img id="phone-template-effects" src="https://i.imgur.com/HaDV0c8.png">
    <img id="phone-notifications-1" src="https://i.imgur.com/Jxr5NLe.png">
    <img id="phone-notifications-2" src="https://i.imgur.com/KGE0QSw.png">
    
    <!-- Truly responsive design module. -->
    <script defer>
        
        function calculatePercentageDifference(oldValue, newValue) {
            return (newValue - oldValue) / oldValue * 100;
        };
        
        // Dynamic page scaling function.
        function smartResizing() {
            const root = document.querySelector(':root');
            const baseWidth = 1432;
            const baseHeight = 815;
            let viewportWidth = window.innerWidth;
            let viewportHeight = window.innerHeight;
            let rootFontSize = 10;

            // If the current viewport dimensions don't match the base value, calculate the percentage difference.
            if (viewportWidth != baseWidth || viewportHeight != baseHeight) {
                widthDifference = calculatePercentageDifference(baseWidth, viewportWidth);
                heightDifference = calculatePercentageDifference(baseHeight, viewportHeight);
            };

            // Determine which difference is greater to apply the smaller value on both sides.
            if (heightDifference > widthDifference) {
                sum = widthDifference;
            } else if (heightDifference < widthDifference) {
                sum = heightDifference;
            } else {
                sum = widthDifference;
            };

            // Update the :root font size to scale all elements using rem.
            rootFontSize += Math.round((sum / 10));
            root.style.fontSize = rootFontSize + 'px';        
        };
        
        window.addEventListener('load', smartResizing);
        window.addEventListener('resize', smartResizing);

        //---------------------------------------------------//
        // Non full screen values are - 8 px.
        // laptop width = 1440
        // laptop height = 815
        // monitor width = 2560
        // monitor height = 1355
        // monitor width is roughly 1.77 x laptop width
        // monitor height is roughtly 1.66 x laptop height
        //---------------------------------------------------//
        

        // // Determine the difference in width of viewport and base value.
            // if (viewportWidth != baseWidth) {
            //     widthDifference = calculatePercentageDifference(baseWidth, viewportWidth);
            //     console.log(widthDifference);
            // };

            // // Determine the difference in height of viewport and base value.
            // if (viewportHeight != baseHeight) {
            //     heightDifference = calculatePercentageDifference(baseHeight, viewportHeight);
            //     console.log(heightDifference);
            // };

        // if (heightDifference > widthDifference) {
        //     sum = widthDifference;
        //     finalSum = calculatePercentageDifference(baseWidth, viewportWidth);
        // } else if (heightDifference < widthDifference) {
        //     sum = heightDifference;
        //     finalSum = calculatePercentageDifference(baseHeight, viewportHeight);
        // };
        
        // num = calculatePercentageDifference(1440, 2560);
        // console.log(num);

        // if (viewportWidth >= monW) {
        //     rootFontSize = 16.6;
        //     root.style.fontSize = '16.6px';
        // } else if (viewportWidth <= monW) {
        //     rootFontSize = 10;
        //     root.style.fontSize = '10px';
        // };

        // window.onresize = function() {
        //     smartResizing();
        //     console.log('onresize');
        // };

        // window.onload = function() {
        //     smartResizing();
        // };

        // window.addEventListener('resize', function() {
        //     smartResizing();
        //     console.log('event listener');
        // });

        // console.log(viewportWidth);
    </script>
    
</div>

{% endblock %}




<!--
<div class="right-signup-container">
    <div id='pink-circ'></div>
    <div id='blue-circ'></div>
    <div id='purple-circ'></div>
</div>
-->



<!--
<div class="title-bar">
    <h1>{{name}}</h1>
</div>

<div class="signup-box">
    {% if error_message %}
        <p class="red-text">{{ error_message }}</p>
    {% endif %}

    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="signup-btn">
            <input type="submit" class="btn" value="Sign Up">
        </div>
    </form>
</div>
-->