{% extends 'base.html' %} {% block content %}

<div class="signup-main-container" id="signup-main-container">
    <div class="left-signup-container">
        {% block auth%}
        <div class="home-text-box">
            <div id="home-header">Hermes Messenger</div>
            <div id="home-text">
                Instant Messaging Electrified! 
                Allows users to chat with friends in real-time by joining chatrooms.
            </div>
            <button  id='main-button'><a href="{% url 'signup' %}">SignUp</a></button>
        </div> 
        {%endblock%}   
    </div>
    
    <div class="right-signup-container">
        <div id="phone-bubble-container">
            <div id='pink-circ'></div>
            <div id='blue-circ'></div>
            <div id='purple-circ'></div>
            <img id="phone-template" src="https://i.imgur.com/Mgr8zVE.png">
            <img id="phone-screen" src="https://i.imgur.com/caZOa0E.png">
            <img id="phone-template-effects" src="https://i.imgur.com/HaDV0c8.png">

            <img id="phone-notifications-1" src="https://i.imgur.com/BrPXBeY.png">
            <img id="phone-notifications-2" src="https://i.imgur.com/VDhy9gb.png">
            <img id="phone-notifications-3" src="https://i.imgur.com/vY9UBkI.png">
            <img id="phone-notifications-4" src="https://i.imgur.com/BrPXBeY.png">
            <img id="phone-notifications-5" src="https://i.imgur.com/VDhy9gb.png">
            <img id="phone-notifications-6" src="https://i.imgur.com/vY9UBkI.png">

            <!-- <img id="phone-notifications-a" src="https://i.imgur.com/Jxr5NLe.png"> -->
            <!-- <img id="phone-notifications-b" src="https://i.imgur.com/KGE0QSw.png"> -->
        </div>
    </div>
</div>

<script defer>
//-----------------------------------------------------------------------------------------------//
//-- Animated phone layering on page load. ------------------------------------------------------//
//-----------------------------------------------------------------------------------------------//
    // The almighty majestic hydra function, behold its divine beauty.
    function phoneElementSlideIn(elementId, initialPos, axis, endPos, decimal, velocity, operator) {
        const element = document.getElementById(elementId);
        const breakPoint = (endPos - initialPos) * 0.75 + initialPos;
        const skewBreakPoint = (endPos - initialPos) * 0.525 + initialPos;
        let pos = initialPos;
        let skewAngle = 0;
        let opacity = 0;

        // Handler for dynamically applying an operator.
        function applyOperator(x, mathOperator, y) {
            return new Function(`return ${x} ${mathOperator} ${y}`)();
        };

        function slideIn() {
            // Decrease velocity and increase opacity when nearing destination.
            if (applyOperator(pos, operator, breakPoint)) {
                pos += (velocity / 4);
                opacity += 0.02;
            } else {
                pos += velocity;
                opacity += 0.005;
            };

            // Begin skew transition when nearing destination.
            if (applyOperator(pos, operator, skewBreakPoint)) {
                skewAngle -= 0.25;
                element.style.transform = `skewY(${skewAngle}deg)`;
            };

            // Update phone component position and opacity.
            element.style[axis] = `${pos}.${decimal}%`;
            element.style.opacity = `${opacity}`;

            // If end position has been reached cancel out of the animation loop.
            if (pos === endPos) {
                return;
            };

            // Call slideIn at 60 fps to animate the phone fade in effect.
            requestAnimationFrame(slideIn);
        };
        slideIn();
    };

    // Stagger the initiation of the phone element slide in animation.
    setTimeout(() => phoneElementSlideIn('phone-template', -25, 'top', -125, 25, -2, '<='), 200);
    setTimeout(() => phoneElementSlideIn('phone-screen', 33, 'bottom', -67, 4, -2, '<='), 959);
    setTimeout(() => phoneElementSlideIn('phone-template-effects', -50, 'left', -150, 2, -2, '<='), 959);
    setTimeout(() => phoneElementSlideIn('phone-notifications-1', -488, 'top', -88, 0, 8, '>='), 1359);
    setTimeout(() => phoneElementSlideIn('phone-notifications-2', -456, 'top', -56, 0, 8, '>='), 1759);
    setTimeout(() => phoneElementSlideIn('phone-notifications-3', -427, 'top', -27, 0, 8, '>='), 2159);
    setTimeout(() => phoneElementSlideIn('phone-notifications-4', -395, 'top', 5, 0, 8, '>='), 2559);
    setTimeout(() => phoneElementSlideIn('phone-notifications-5', -364, 'top', 36, 0, 8, '>='), 2959);
    setTimeout(() => phoneElementSlideIn('phone-notifications-6', -334, 'top', 66, 0, 8, '>='), 3159);
    
    // Animation duration is 1436 milliseconds.
    // 1436 * 0.25 = 359
    
    // setTimeout(() => phoneElementSlideIn('phone-template-effects', -50, 'left', -150, 2, -2, '<='), 1218);
//-----------------------------------------------------------------------------------------------//
//-- Notifications skew in relation to mouse coordinates. ---------------------------------------//
//-----------------------------------------------------------------------------------------------//
    const phoneNotifications1 = document.getElementById('phone-notifications-1');
    const phoneNotifications2 = document.getElementById('phone-notifications-2');
    const phoneNotifications3 = document.getElementById('phone-notifications-3');
    const phoneNotifications4 = document.getElementById('phone-notifications-4');
    const phoneNotifications5 = document.getElementById('phone-notifications-5');
    const phoneNotifications6 = document.getElementById('phone-notifications-6');
    const maxSkew = 1; // Maximum allowed skew in degrees.
    const perspective = 1000; // Intensity of the skew.
    const easing = 'cubic-bezier(0.68, -0.55, 0.265, 1.55)';
    const updateInterval = 1000 / 60; // 60 updates per second.

    // Get the cursors current x and y coordinates.
    const getMousePos = (evt) => {
        const pos = evt.currentTarget.getBoundingClientRect();
        return {
            x: evt.clientX - pos.left,
            y: evt.clientY - pos.top
        };
    };

    // Get the central coordinates of a selected item.
    const getElementCenter = (element) => {
        const rect = element.getBoundingClientRect();
        return {
            x: rect.left + rect.width / 2,
            y: rect.top + rect.height / 2
        };
    };

    // Calculate the angle between two points in a 2d coordinate system.
    const getAngle = (x1, y1, x2, y2) => {
        const dx = x2 - x1;
        const dy = y2 - y1;
        return Math.atan2(dy, dx);
    };

    // Update the skew % of a selected element in relation to the cursor coordinates.
    let mPos;
    let timer;
    const updateSkew = () => {
        timer = null;
        const skewX = 0;
        const skewY = -15;

        const elements = [
            phoneNotifications1,
            phoneNotifications2,
            phoneNotifications3,
            phoneNotifications4,
            phoneNotifications5,
            phoneNotifications6
        ];

        const centers = elements.map(getElementCenter);
        const angles = centers.map((center) => getAngle(center.x, center.y, mPos.x, mPos.y));
        const skews = angles.map((angle) => skewY + Math.min(maxSkew, Math.abs(angle)) * Math.sign(angle));

        elements.forEach((element, i) => {
            element.style.transitionTimingFunction = easing;
            element.style.transform = `perspective(${perspective}px) skewX(${skewX}deg) skewY(${skews[i]}deg)`;
        });
    };

    // Call the update skew function at 60 fps while the cursor is being moved.
    const scheduleUpdate = (pos) => {
        if (!timer) {
            mPos = pos;
            timer = setTimeout(updateSkew, updateInterval);
        };
    };

    // Listen for a mouse move event to begin animating the skew effect.
    document.querySelector('main').addEventListener('mousemove', (evt) => {
        const mPos = getMousePos(evt);
        scheduleUpdate(mPos);
    });

//-----------------------------------------------------------------------------------------------//
//-- User generated zoom event detection. -------------------------------------------------------//
//-----------------------------------------------------------------------------------------------//
    let manualZoomEvent = false;
    // Detect a user initiated zoom event with the cmd key and mouse scroll wheel.
    window.addEventListener('wheel', function(event) {
        if (event.metaKey) { // If cmd is held down (metaKey is the cmd key on Mac).
            if (event.deltaY > 0) { // User has zoomed out.
                manualZoomEvent = true;
            } else { // User has zoom in.
                manualZoomEvent = true;
            };
        };
    });

    // Detect a user initiated zoom event using keyboard shortcuts.
    window.addEventListener('keydown', function(event) {
        if (event.metaKey && event.code === 'Equal') { // User has pressed cmd +.
            manualZoomEvent = true;
        } else if (event.metaKey && event.code === 'Minus') { // User has pressed cmd -.
            manualZoomEvent = true;
        };
    });

    // Detect a user initiated zoom event using a touch screen.
    window.addEventListener('touchmove', function(event) {
        if (event.scale < 1) { // User has zoomed out.
            manualZoomEvent = true;
        } else { // User has zoomed in.
            manualZoomEvent = true;
        };
    });

//-----------------------------------------------------------------------------------------------//
//-- Dynamic page scaling. ----------------------------------------------------------------------//
//-----------------------------------------------------------------------------------------------//
     function smartResizing() {
        const signupMainContainer = document.getElementById('signup-main-container');
        const phoneBubbleContainer = document.getElementById('phone-bubble-container');
        const main = document.querySelector('main');
        const root = document.querySelector(':root');
        const baseWidth = 1432; // Container width.
        const baseHeight = 712; // Container height excluding the menu bar.
        let widthDifference, heightDifference, averageDifference = 0;
        let viewportWidth = window.innerWidth;
        let viewportHeight = window.innerHeight;
        let height = main.offsetHeight;
        let rootFontSize = 100;

        // Handler for calculating the % difference in pixel ratios between different resolutions.
        function calculatePercentageDifference(oldValue, newValue) {
            return (newValue - oldValue) / oldValue * 100;
        };

        // If a zoom event is initiated manually, cancel out of smartResizing to enable zoom.
        if (manualZoomEvent == true) {
            manualZoomEvent = false;
        } else {
            // Calculate the % difference between the base and current viewport dimensions.
            widthDifference = calculatePercentageDifference(baseWidth, viewportWidth);
            heightDifference = calculatePercentageDifference(baseHeight, height);
            averageDifference = Math.round((widthDifference + heightDifference) / 2);

            // Update the :root font size to scale all elements using rem.
            rootFontSize += averageDifference;
            root.style.fontSize = rootFontSize + 'px';

            // Rearrange page layout if the screens height is > the width.
            if (viewportHeight > viewportWidth) {
                signupMainContainer.style.flexDirection = 'column';
                phoneBubbleContainer.style.marginLeft = '25%';
            } else if (viewportHeight < viewportWidth) {
                signupMainContainer.style.flexDirection = 'row';
                phoneBubbleContainer.style.marginLeft = '0%';
            };
        };
    };
    window.addEventListener('load', () => smartResizing());
    window.addEventListener('resize', () => smartResizing());




            // Generate random integers, either positive or negative.
            function getRandomInteger(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            };
            
            // Animation loop for the rising rain effect.
            function risingLogo() {
                // Create a new img element and apply a random icon to it.
                const floatingIcons = ['https://i.imgur.com/i5UNV2f.png', 'https://i.imgur.com/N00lIOn.png', 'https://i.imgur.com/dUQH6w9.png'];
                const imgElement = document.createElement('img');
                let num = getRandomInteger(0, 2);
                imgElement.src = floatingIcons[num];
    
                // Retrieve the width and height of the browser window.
                let viewportHeight = window.innerHeight + 420;
                let viewportWidth = window.innerWidth - 150;
                
                // Set the starting position of the img element.
                imgElement.style.position = 'absolute';
                imgElement.style.left = `calc(${Math.random() * viewportWidth}px)`;
                imgElement.style.bottom = '-100px';
                
                // Randomize the img size, velocity, and angle.
                let imgSize = getRandomInteger(60, Math.round(window.innerWidth / 10));
                let velocity = getRandomInteger(1, 7);
                let angle = getRandomInteger(-30, 10);
                imgElement.style.width = imgSize + 'px';
                imgElement.style.height = imgSize + 'px';
                imgElement.style.borderRadius = '50%';
                
                // Append the img element to the container.
                const divElement = document.querySelector('.signup-main-container');
                divElement.appendChild(imgElement);
    
                // Begin img element animation loop.
                function animateImg() {
                    imgElement.style.rotate = angle + 'deg';            // Set the angle of the img.
                    const imgTop = parseInt(imgElement.style.bottom);   // Get the current position of the img element.
                    let newImgTop = imgTop + velocity;                  // Calculate the new position of the img element.
                    imgElement.style.bottom = newImgTop + 'px';         // Set the new position of the img element.
                    
                    // Once the img element travels off the screen, delete it and stop the animation loop.
                    if (newImgTop > viewportHeight) {
                        divElement.removeChild(imgElement);
                        return;
                    };
    
                    // Call the function repeatedly on a loop.
                    requestAnimationFrame(animateImg);
                };
                animateImg();
            };
    
            // This prevents a bug causing the function to overload when the browser is active but tab is unfocused.
            function working(){
                setInterval(function() {risingLogo()},2000);
            }
               
            working()

            
        
    
            //---------------------------------------------------------------------------------------------------------//

        // Floating bubble animation loop setup.
        const purpleBubble = document.getElementById('purple-circ');
        const blueBubble = document.getElementById('blue-circ');
        const pinkBubble = document.getElementById('pink-circ');
        var dx = 0.3, dy = 0.3;
        let x = 1;
        let y = 1;
        let z = -1;
        let count = 1;

                    // Animate bubbles with a subtle floating effect.
        function bubbleAnimationLoop() {
            // Increment the counter until it reaches 180 then reset back to 1 and repeat.
            if (count < 180) {
                count += 1;
            } else if (count == 180) {
                count = 1;
            };
            
            // Change the purple bubbles direction when counter is within a certain range.
            if (count <= 90) {
                x += dx;
            } else if (count > 90) {
                x -= dx;
            };

            // Change the blue bubbles direction when counter is within a certain range.
            if (count < 40 || count >= 130) {
                y += dy;
            } else if (count >= 40 && count < 130) {
                y -= dy;
            };

            // Change the pink bubbles direction when counter is within a certain range.
            if (count < 20 || count >= 110) {
                z -= dy;
            } else if (count >= 20 && count < 110) {
                z += dy;
            };

            // Update the bubbles location on the respective axis.
            purpleBubble.style.transform = `translateX(${x}px)`;
            blueBubble.style.transform = `translateY(${y}px)`;
            pinkBubble.style.transform = `translateX(${z}px)`;

            // Call the function repeatedly on a loop.
            requestAnimationFrame(bubbleAnimationLoop);
        };
        bubbleAnimationLoop();
</script>

{% endblock %}



<!-- 
    // setTimeout(() => phoneElementSlideIn('phone-notifications-1', -288, 'top', -88, 0, 4, '>='), 1159);
    // setTimeout(() => phoneElementSlideIn('phone-notifications-2', -256, 'top', -56, 0, 4, '>='), 1359);
    // setTimeout(() => phoneElementSlideIn('phone-notifications-3', -227, 'top', -27, 0, 4, '>='), 1559);
    // setTimeout(() => phoneElementSlideIn('phone-notifications-4', -195, 'top', 5, 0, 4, '>='), 1759);
    // setTimeout(() => phoneElementSlideIn('phone-notifications-5', -164, 'top', 36, 0, 4, '>='), 1959);
    // setTimeout(() => phoneElementSlideIn('phone-notifications-6', -134, 'top', 66, 0, 4, '>='), 2159);

    // const updateSkew = () => {
    //     timer = null;
    //     const skewX = 0;

    //     const elements = [
    //         phoneNotifications1,
    //         phoneNotifications2,
    //         phoneNotifications3,
    //         phoneNotifications4,
    //         phoneNotifications5,
    //         phoneNotifications6
    //     ];

    //     const centers = elements.map(getElementCenter);
    //     const angles = centers.map((center) => getAngle(center.x, center.y, mPos.x, mPos.y));
    //     const skews = angles.map((angle) => Math.min(maxSkew, Math.abs(angle)) * Math.sign(angle));

    //     elements.forEach((element, i) => {
    //         element.style.transitionTimingFunction = easing;
    //         element.style.transform = `perspective(${perspective}px) skewX(${skewX}deg) skewY(${skews[i]}deg)`;
    //     });
    // };


    // let mPos;
    // let timer;
    // const updateSkew = () => {
    //     timer = null;
    //     const skewX = 0;

    //     const center1 = getElementCenter(phoneNotifications1);
    //     const center2 = getElementCenter(phoneNotifications2);
    //     const center3 = getElementCenter(phoneNotifications3);
    //     const center4 = getElementCenter(phoneNotifications4);
    //     const center5 = getElementCenter(phoneNotifications5);
    //     const center6 = getElementCenter(phoneNotifications6);

    //     const angle1 = getAngle(center1.x, center1.y, mPos.x, mPos.y);
    //     const angle2 = getAngle(center2.x, center2.y, mPos.x, mPos.y);
    //     const angle3 = getAngle(center3.x, center3.y, mPos.x, mPos.y);
    //     const angle4 = getAngle(center4.x, center4.y, mPos.x, mPos.y);
    //     const angle5 = getAngle(center5.x, center5.y, mPos.x, mPos.y);
    //     const angle6 = getAngle(center6.x, center6.y, mPos.x, mPos.y);

    //     let skewY1 = Math.min(maxSkew, Math.abs(angle1)) * Math.sign(angle1);
    //     let skewY2 = Math.min(maxSkew, Math.abs(angle2)) * Math.sign(angle2);
    //     let skewY3 = Math.min(maxSkew, Math.abs(angle3)) * Math.sign(angle3);
    //     let skewY4 = Math.min(maxSkew, Math.abs(angle4)) * Math.sign(angle4);
    //     let skewY5 = Math.min(maxSkew, Math.abs(angle5)) * Math.sign(angle5);
    //     let skewY6 = Math.min(maxSkew, Math.abs(angle6)) * Math.sign(angle6);

    //     skewY1 += -15;
    //     skewY2 += -15;
    //     skewY3 += -15;
    //     skewY4 += -15;
    //     skewY5 += -15;
    //     skewY6 += -15;

    //     phoneNotifications1.style.transitionTimingFunction = easing;
    //     phoneNotifications2.style.transitionTimingFunction = easing;
    //     phoneNotifications3.style.transitionTimingFunction = easing;
    //     phoneNotifications4.style.transitionTimingFunction = easing;
    //     phoneNotifications5.style.transitionTimingFunction = easing;
    //     phoneNotifications6.style.transitionTimingFunction = easing;

    //     phoneNotifications1.style.transform = `perspective(${perspective}px) skewX(${skewX}deg) skewY(${skewY1}deg)`;
    //     phoneNotifications2.style.transform = `perspective(${perspective}px) skewX(${skewX}deg) skewY(${skewY2}deg)`;
    //     phoneNotifications3.style.transform = `perspective(${perspective}px) skewX(${skewX}deg) skewY(${skewY3}deg)`;
    //     phoneNotifications4.style.transform = `perspective(${perspective}px) skewX(${skewX}deg) skewY(${skewY4}deg)`;
    //     phoneNotifications5.style.transform = `perspective(${perspective}px) skewX(${skewX}deg) skewY(${skewY5}deg)`;
    //     phoneNotifications6.style.transform = `perspective(${perspective}px) skewX(${skewX}deg) skewY(${skewY6}deg)`;
    // };

<div>
<div class='left-main'>
    <h1 id='main-title'>Hermes Messenger</h1>
    <p id='p-title'>Instant Messaging Electrified!
      Allows users to chat with friends in real-time by joining chatrooms.
    </p>
    <button id='main-button'>Login</button>
  </div>
  <div class='right-main'>
    <div id='pink-circ'></div>
    <div id='blue-circ'></div>
    <div id='purple-circ'></div>
    <div id='phone-case'>
      <div id='text-container'>
        <div class='text-box1'></div>
        <div class='text-box2'></div>
        <div class='text-box3'></div>
        <div class='text-box4'></div>
        <div class='text-box5'></div>
        <div class='text-box6'></div>
        <div class='text-box7'></div>
        <div class='text-box8'></div>
      </div>
    </div>
  </div>
</div>
-->