{% extends 'base.html' %} {% block content %}

<div class="signup-main-container" id="signup-main-container">
    <div class="left-signup-container">
        <div class="home-text-box">
            <div id="home-header">Hermes Messenger</div>
            <div id="home-text">
                Instant Messaging Electrified! 
                Allows users to chat with friends in real-time by joining chatrooms.
            </div>
            <button id='main-button'>Login</button>
        </div>    
    </div>
    
    <div class="right-signup-container">
        <div id="phone-bubble-container">
            <div id='pink-circ'></div>
            <div id='blue-circ'></div>
            <div id='purple-circ'></div>
            <img id="phone-template" src="https://i.imgur.com/Mgr8zVE.png">
            <img id="phone-screen" src="https://i.imgur.com/caZOa0E.png">
            <img id="phone-template-effects" src="https://i.imgur.com/HaDV0c8.png">
            <img id="phone-notifications-1" src="https://i.imgur.com/Jxr5NLe.png">
            <img id="phone-notifications-2" src="https://i.imgur.com/KGE0QSw.png">
        </div>
    </div>
</div>

<script defer>
//-----------------------------------------------------------------------------------------------//
//-- Animated phone layering on page load. ------------------------------------------------------//
//-----------------------------------------------------------------------------------------------//
    // const phoneTemplate = document.getElementById('phone-template');
    // phoneTemplate.style.transform = `skew(-1deg, -15deg)`;
    // phoneTemplate.style.transform = `skew(-1deg, -15deg) translateY(${y}px)`;

    // let templatePosTop = -25;
    // let templateOpacity = 0;
    // function phoneTemplateSlideIn() {
    //     const phoneTemplate = document.getElementById('phone-template');
        
    //     if (templatePosTop <= -100) {
    //         templateOpacity += 0.025;
    //         templatePosTop -= 0.5;
    //     } else {
    //         templateOpacity += 0.004;
    //         templatePosTop -= 2;
    //     };

    //     phoneTemplate.style.top = `${templatePosTop}.25%`;
    //     phoneTemplate.style.opacity = `${templateOpacity}`;

    //     if (templatePosTop == -125) {
    //         templatePosTop = -25;
    //         return;
    //     };

    //     requestAnimationFrame(phoneTemplateSlideIn);
    // };
    // phoneTemplateSlideIn();

    //-------------------------------------------------------------------------------------------//
    
    // let screenOpacity = 0;
    // let screenPosTop = -156;
    // function phoneScreenSlideIn() {
    //     const phoneScreen = document.getElementById('phone-screen');
        
    //     if (screenPosTop <= -81) {
    //         screenOpacity += 0.004;
    //         screenPosTop += 2;
    //     } else {
    //         screenOpacity += 0.025;
    //         screenPosTop += 0.5;
    //     };

    //     phoneScreen.style.top = `${screenPosTop}.4%`;
    //     phoneScreen.style.opacity = `${screenOpacity}`;

    //     if (screenPosTop == -56) {
    //         screenPosTop = -156;
    //         return;
    //     };

    //     requestAnimationFrame(phoneScreenSlideIn);
    // };
    // phoneScreenSlideIn();

    //-------------------------------------------------------------------------------------------//

    // let effectsOpacity = 0;
    // let effectsPosLeft = -51;
    // function phoneEffectsSlideIn() {
    //     const phoneEffects = document.getElementById('phone-template-effects');
        
    //     if (effectsPosLeft <= -126) {
    //         effectsOpacity += 0.025;
    //         effectsPosLeft -= 0.5;
    //     } else {
    //         effectsOpacity += 0.004;
    //         effectsPosLeft -= 2;
    //     };

    //     phoneEffects.style.left = `${effectsPosLeft}.4%`;
    //     phoneEffects.style.opacity = `${effectsOpacity}`;

    //     if (effectsPosLeft == -151) {
    //         effectsPosLeft = -51;
    //         return;
    //     };

    //     requestAnimationFrame(phoneEffectsSlideIn);
    // };
    // phoneEffectsSlideIn();

//-----------------------------------------------------------------------------------------------//

    // The almighty hydra function, behold its divine beauty.
    function phoneElementSlideIn(elementId, initialPos, axis, endPos, decimal, velocity) {
        const element = document.getElementById(elementId);
        const breakPoint = (endPos - initialPos) * 0.75 + initialPos;
        let pos = initialPos;
        let opacity = 0;

        function slideIn() {
            if (pos <= breakPoint) {
                pos += (velocity / 4);
                opacity += 0.025;
            } else {
                pos += velocity;
                opacity += 0.004;
            };

            element.style[axis] = `${pos}.${decimal}%`;
            element.style.opacity = `${opacity}`;

            if (pos === endPos) {
                return;
            };

            requestAnimationFrame(slideIn);
        };
        slideIn();
    };
    phoneElementSlideIn('phone-template', -25, 'top', -125, 25, -2);
    phoneElementSlideIn('phone-screen', 33, 'bottom', -67, 4, -2);
    phoneElementSlideIn('phone-template-effects', -51, 'left', -151, 4, -2);
    
    // phoneElementSlideIn('phone-screen', -156, 'top', -56, 4, 2);

//-----------------------------------------------------------------------------------------------//
//-- Notifications skew in relation to mouse coordinates. ---------------------------------------//
//-----------------------------------------------------------------------------------------------//
    const phoneNotifications1 = document.getElementById('phone-notifications-1');
    const phoneNotifications2 = document.getElementById('phone-notifications-2');
    const maxSkew = 0.5; // Maximum allowed skew in degrees.
    const perspective = 1000; // Intensity of the skew.
    const easing = 'cubic-bezier(0.68, -0.55, 0.265, 1.55)';
    const updateInterval = 1000 / 60; // 60 updates per second.

    // Get the cursors current x and y coordinates.
    const getMousePos = (evt) => {
        const pos = evt.currentTarget.getBoundingClientRect();
        return {
            x: evt.clientX - pos.left,
            y: evt.clientY - pos.top
        };
    };

    // Get the central coordinates of a selected item.
    const getElementCenter = (element) => {
        const rect = element.getBoundingClientRect();
        return {
            x: rect.left + rect.width / 2,
            y: rect.top + rect.height / 2
        };
    };

    // Calculate the angle between two points in a 2d coordinate system.
    const getAngle = (x1, y1, x2, y2) => {
        const dx = x2 - x1;
        const dy = y2 - y1;
        return Math.atan2(dy, dx);
    };

    // Update the skew % of a selected element in relation to the cursor coordinates.
    let mPos;
    let timer;
    const updateSkew = () => {
        timer = null;
        const center1 = getElementCenter(phoneNotifications1);
        const angle1 = getAngle(center1.x, center1.y, mPos.x, mPos.y);
        const center2 = getElementCenter(phoneNotifications2);
        const angle2 = getAngle(center2.x, center2.y, mPos.x, mPos.y);
        const skewX = 0;
        let skewY1 = Math.min(maxSkew, Math.abs(angle1)) * Math.sign(angle1);
        let skewY2 = Math.min(maxSkew, Math.abs(angle2)) * Math.sign(angle2);
        skewY1 += -15;
        skewY2 += -15;
        phoneNotifications1.style.transitionTimingFunction = easing;
        phoneNotifications1.style.transform = `perspective(${perspective}px) skewX(${skewX}deg) skewY(${skewY1}deg)`;
        phoneNotifications2.style.transitionTimingFunction = easing;
        phoneNotifications2.style.transform = `perspective(${perspective}px) skewX(${skewX}deg) skewY(${skewY2}deg)`;
    };

    // Call the update skew function at 60 fps while the cursor is being moved.
    const scheduleUpdate = (pos) => {
        if (!timer) {
            mPos = pos;
            timer = setTimeout(updateSkew, updateInterval);
        };
    };

    // Listen for a mouse move event to begin animating the skew effect.
    document.querySelector('main').addEventListener('mousemove', (evt) => {
        const mPos = getMousePos(evt);
        scheduleUpdate(mPos);
    });

//-----------------------------------------------------------------------------------------------//
//-- User generated zoom event detection. -------------------------------------------------------//
//-----------------------------------------------------------------------------------------------//
    let manualZoomEvent = false;
    // Detect a user initiated zoom event with the cmd key and mouse scroll wheel.
    window.addEventListener('wheel', function(event) {
        if (event.metaKey) { // If cmd is held down (metaKey is the cmd key on Mac).
            if (event.deltaY > 0) { // User has zoomed out.
                manualZoomEvent = true;
            } else { // User has zoom in.
                manualZoomEvent = true;
            };
        };
    });

    // Detect a user initiated zoom event using keyboard shortcuts.
    window.addEventListener('keydown', function(event) {
        if (event.metaKey && event.code === 'Equal') { // User has pressed cmd +.
            manualZoomEvent = true;
        } else if (event.metaKey && event.code === 'Minus') { // User has pressed cmd -.
            manualZoomEvent = true;
        };
    });

    // Detect a user initiated zoom event using a touch screen.
    window.addEventListener('touchmove', function(event) {
        if (event.scale < 1) { // User has zoomed out.
            manualZoomEvent = true;
        } else { // User has zoomed in.
            manualZoomEvent = true;
        };
    });

//-----------------------------------------------------------------------------------------------//
//-- Dynamic page scaling. ----------------------------------------------------------------------//
//-----------------------------------------------------------------------------------------------//
    function smartResizing() {
        const signupMainContainer = document.getElementById('signup-main-container');
        const phoneBubbleContainer = document.getElementById('phone-bubble-container');
        const main = document.querySelector('main');
        const root = document.querySelector(':root');
        const baseWidth = 1432; // Container width.
        const baseHeight = 712; // Container height excluding the menu bar.
        let widthDifference, heightDifference, averageDifference = 0;
        let viewportWidth = window.innerWidth;
        let viewportHeight = window.innerHeight;
        let height = main.offsetHeight;
        let rootFontSize = 100;

        // Handler for calculating the % difference in pixel ratios between different resolutions.
        function calculatePercentageDifference(oldValue, newValue) {
            return (newValue - oldValue) / oldValue * 100;
        };

        // If a zoom event is initiated manually, cancel out of smartResizing to enable zoom.
        if (manualZoomEvent == true) {
            manualZoomEvent = false;
        } else {
            // Calculate the % difference between the base and current viewport dimensions.
            widthDifference = calculatePercentageDifference(baseWidth, viewportWidth);
            heightDifference = calculatePercentageDifference(baseHeight, height);
            averageDifference = Math.round((widthDifference + heightDifference) / 2);

            // Update the :root font size to scale all elements using rem.
            rootFontSize += averageDifference;
            root.style.fontSize = rootFontSize + 'px';

            // Rearrange page layout if the screens height is > the width.
            if (viewportHeight > viewportWidth) {
                signupMainContainer.style.flexDirection = 'column';
                phoneBubbleContainer.style.marginLeft = '25%';
            } else if (viewportHeight < viewportWidth) {
                signupMainContainer.style.flexDirection = 'row';
                phoneBubbleContainer.style.marginLeft = '0%';
            };
        };
    };
    window.addEventListener('load', () => smartResizing());
    window.addEventListener('resize', () => smartResizing());
</script>

{% endblock %}



<!-- 
<div>
<div class='left-main'>
    <h1 id='main-title'>Hermes Messenger</h1>
    <p id='p-title'>Instant Messaging Electrified!
      Allows users to chat with friends in real-time by joining chatrooms.
    </p>
    <button id='main-button'>Login</button>
  </div>
  <div class='right-main'>
    <div id='pink-circ'></div>
    <div id='blue-circ'></div>
    <div id='purple-circ'></div>
    <div id='phone-case'>
      <div id='text-container'>
        <div class='text-box1'></div>
        <div class='text-box2'></div>
        <div class='text-box3'></div>
        <div class='text-box4'></div>
        <div class='text-box5'></div>
        <div class='text-box6'></div>
        <div class='text-box7'></div>
        <div class='text-box8'></div>
      </div>
    </div>
  </div>
</div>
-->