/* Praetoria D OTF Font  */

body {
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
  color: var(--text);
  background: #F5F5F5;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  overflow-x: hidden;
  /* position: relative; */
  /* position: absolute; */
  /* position: fixed; */
  /* display: block; */

  /* width: 100%; */
  /* height: 100%; */
  /* margin: auto; */
  /* width: 143.2rem; */
  /* height: 81.5 rem; */
  /* border: solid 10px red; */
  /* box-sizing: border-box; */
}

header {
  padding: 1em;
  clip-path: polygon(
    50% 0%,
    100% 0px,
    100% 65%,
    49.65% 97.72%,
    0px 65%,
    0px 0px
  );
  background: var(--bg-nav);
  margin-bottom: 1em;
  padding-bottom: 1em;
  text-align: center;
}

/* first-main */

main {
  /* position: absolute; */
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 70px);
  /* overflow: hidden; */
  /* min-height: 100vh; */
  /* width: 100vw; */
}
/* box-sizing: border-box; */

.lightMode {
  --background: var(--gray0);
  --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
  --text: var(--gray6);
}

.darkMode {
  --background: var(--gray5);
  --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
  --text: var(--gray0);
} 

.navbar {
  height: 70px;
  width: 100%;
  background: #FFFDFA;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}


.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  transition: all 0.5s ease-in-out;
  list-style-type: none;
  padding: 0;
  font-size: 0.24rem;
  margin: 0px;
}

#home-nav-signup{
  display:flex;
  gap:10px;
  font-size: 15px;
  margin:40px;
  font-size: 10px;
}

.navbar-nav > li {
  margin-right: 40px;
}

.navbar-nav > li:first-child {
  margin-left: 40px;
}

.navbar-nav > li:nth-child(2) {
  margin-right: auto;
}

.nav-item:not(:nth-child(2)):hover {
  transform: scale(1.3);
  transition: 0.75s;
  cursor: pointer;
  font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 16px;
/* identical to box height, or 67% */


color: #000000;

}

.nav-item:not(:nth-child(2)):active {
  transform: scale(1.3);
}

/* LOGO START  */

.logo-container{
  display:flex;
  align-items:center;

}

.logo {
  height: 50px;
  animation: color-rotate .3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: all 0.5s ease;
}
.logo-title{
  color:black;
  text-decoration: none;
}


/* LOGO END  */


@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
/*---------------------------------------------------------- END NAV BAR --------------------------------------- */
.color-themes {
  display: grid;
  grid-template-areas: "topbar1 topbar2 topbar3";
  grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
}

/* #sun {
  grid-area: topbar1;
  max-width: 35px;
}

#sun:hover {
  transform: scale(1.3);
  transition: 0.8s;
  cursor: pointer;
}

#moon {
  grid-area: topbar3;
  max-width: 35px;
}

#moon:hover {
  transform: scale(1.3);
  transition: 0.8s;
  cursor: pointer;
} */

/* .chat-window {
  display: grid;
  grid-template-columns: 7% 93%;
  height: 42vh;
  justify-items: center;
  margin: 0 0 20% 1%;
} */


/*  ---------------------------------------------------VERTICAL BAR --------------------------------------------------- */
.vertical-navbar {
  background-color: azure;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 10% 18% 100% 18%;
  width: 98%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  margin-top: 200px;
}



.vertical-navbar::-webkit-scrollbar {
  display: none;
  scrollbar-width: none; /* Firefox 64 */
  scrollbar-width: -moz-scrollbars-none;
}

@-moz-document url-prefix() {
  .vertical-navbar {
    scrollbar-width: none;
  }
}

.chat-icon img {
  text-align: center;
  border-radius: 50%;
  height:50px;
  width: 50px;
  transition-duration: 0.5s;
  margin-top: 5px;
}

.chat-icon:hover img {
  border-radius: 25%;
}

.chatroom-box {
  background-color: azure;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 0.5%;
  width: 98%;
  height: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-bar {
  text-align: center;
  width: 98%;
  margin: 0.5% 0.5% 0 0.5%;
  padding: 0.01% 0;
  border-radius: 15px;
  background: linear-gradient(
    to right,
    var(--white) -50%,
    var(--dark-purple) 90%
  );
  font-size: 20px;
}

.live-chat {
  border-radius: 15px;
  min-height: 70%;
  margin: 1%;
  overflow-y: scroll;
  width: 98%;
  height: 80%;
  background-color: red;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.live-chat::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.div-chat {
  background-color: #c691df;
  text-align: center;
  border-radius: 15px;
  min-height: 70%;
  margin: 0.5% 0.5% 0.5% 0.5%;
  height: 50vh;
  width: 98%;
  background: linear-gradient(
    to right,
    var(--white) -50%,
    var(--dark-purple) 90%
  );
}

.input-box {
  border-radius: 0px 0px 0px 0px;
  background-color: #e496cb;
  height: 15%;
  width: 98%;
  margin: 0% 0.5% 0.5% 0.5%;
  text-align: center;
  background: linear-gradient(
    to right,
    var(--white) -50%,
    var(--dark-purple) 90%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-box {
  color: rgb(193, 192, 192);
  border: 3px solid rgb(193, 192, 192);
  border-radius: 15px;
  background-color: var(--dark-magenta);
  text-align: center;
  width: 80%;
  max-height: 30px;
  /* background-color: black; */
}

.message-box::placeholder {
  color: rgb(193, 192, 192);
  text-align: center;
}

:root {

  /* font-size: 16px; */
  /* font-size: 10px; */
  font-size: 100px;

  --white: white;
  --black: black;
  --azure: azure;

  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;

  --purple0: #532850;
  --purlpe1: #452142;
  --purlpe2: #371b35;
  --purlpe3: #291428;
  --purlpe4: #1b0d1b;
  --purlpe5: #0e070e;

  --yellow0: #746b06;
  --yellow1: #615905;
  --yellow2: #4e4704;
  --yellow3: #4e4704;
  --yellow4: #272402;
  --yellow5: #131201;

  --red0: #d64045;
  --red1: #600c06;
  --red2: #4d0a05;
  --red3: #3a0704;
  --red4: #260403;
  --red5: #130202;

  --xiketic: #0e070eff;
  --english-violet: #3f2e56ff;
  --dark-slate-blue: #453f78ff;
  --pewter-blue: #759aabff;
  --black-chocolate: #131201ff;
  /* LIGHT THEME COLORS  */
  --uranian-blue: #a1dcf7;
  --lavendar-floral: #be81da;
  --lilac: #d4a5c7;

  /* DARK THEME COLORS  */
  --magenta: #7232f2;
  --dark-purple: #20115b;
  --dark-magenta: #4922a7;
}

/*-------------------------------------------------------------------------*/
/*-------------------------- About Page -----------------------------------*/
/*-------------------------------------------------------------------------*/

.about-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.about-box-top {
  display: flex;
  height: 100%;
  width: 100%;
}

.top-left-box {
  display: flex;
  flex-direction: column;
  flex: 0 0 55%;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 0% 8% 0% 8%;
  box-sizing: border-box;
}

#about-header {
  font-style: normal;
  font-family: 'Helvetica Neue';
  font-weight: 700;
  color: #C79CE0;
  z-index: 1;

  /* font-size: 52px;
  line-height: 63px; */
  font-size: 0.52rem;
  line-height: 0.63rem;
}

#about-text {
  font-style: normal;
  font-family: 'Helvetica Neue';
  font-weight: 400;
  color: #000000;
  z-index: 1;

  /* font-size: 24px;
  line-height: 29px;  */
  font-size: 0.24rem;
  line-height: 0.29rem;
}

.top-right-box {
  display: flex;
  flex: 0 0 45%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content:center;
  align-items:center;
  position:relative;
}

.about-box-bottom {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  padding: 0% 8% 0% 8%;
}

#team-header {
  font-style: normal;
  font-family: 'Helvetica Neue';
  font-weight: 700;
  color: #C79CE0;
  z-index: 1;

  /* font-size: 52px;
  line-height: 63px; */
  font-size: 0.52rem;
  line-height: 0.63rem;
}

#team-text {
  font-style: normal;
  font-family: 'Helvetica Neue';
  font-weight: 400;
  color: #000000;
  z-index: 1;

  /* font-size: 24px;
  line-height: 29px; */
  font-size: 0.24rem;
  line-height: 0.29rem;
}

#members {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 65%;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.profile-pic {
  z-index: 1;

  /* border: 2px solid #C79CE0;;
  border-radius: 10px; */
  border: 0.02rem solid #C79CE0;;
  border-radius: 0.1rem;
}

.members-container {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.member-links {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 3%;
  font-family: 'Helvetica Neue';
  font-style: normal;
  
  /* border: 2px solid #C79CE0;; */
  /* border-radius: 10px; */
  border: 0.02rem solid #C79CE0;;
  border-radius: 0.1rem;

  /* font-size: 19.3768px;
  line-height: 24px; */
  font-size: 0.19rem;
  line-height: 0.24rem;
}

.member-links span {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  color: #C79CE0;

  /* font-size: 19.3768px;
  line-height: 24px; */
  font-size: 0.19rem;
  line-height: 0.24rem;
}

#links {
  justify-content: center;
  align-items: center;  
}

#blue-circle {
  position: absolute;
  width: 7.29rem;
  height: 6.88rem;
  border-radius: 50%;
  left: 15vw;
  top: calc( 12vh - 70px);
  background: linear-gradient(182.16deg, #D0EBFD 1.82%, rgba(208, 235, 253, 0) 98.3%);
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  z-index: 0;
}

#pink-circle {
  position: absolute;
  width: 8.08rem;
  height: 8.42rem;
  border-radius:50%;
  left: 5vw;
  top: calc( -35vh - 70px);
  background: linear-gradient(180deg, #EBA0C9 0%, rgba(235, 160, 201, 0.765543) 2.48%, rgba(235, 160, 201, 0) 77.43%);
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  z-index: 0;
}

#purple-circle {
  position: absolute;
  width: 8.08rem;
  height: 8.13rem;
  border-radius: 50%;
  left: 25vw;
  top: calc( -40vh - 70px);
  background: linear-gradient(220.89deg, #C79CE0 23.2%, rgba(199, 156, 224, 0.458333) 49.34%, rgba(199, 156, 224, 0) 89.82%);
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  z-index: 0;
}

#cartoon-phone {
  position: relative;
  left: -3vw;
  top: 3vh;
  z-index: 1;
}



/* ul.members {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-box {
  text-align: center;
  border-radius: 15px;
  height: 100%;
  margin: 0.5% 0.5% 0.5% 0.5%;
  padding-top: 20px;
  padding-right: 200px;
  padding-left: 200px;
  background: linear-gradient(
    to right,
    var(--white) -50%,
    var(--dark-purple) 100%
  );
}

.about-box > p,
.about-box > ul {
  font-size: 150%;
} */

/*-------------------------------------------------------------------------*/
/*--------------------- Create Chatroom Page ------------------------------*/
/*-------------------------------------------------------------------------*/

 .create-chatroom-box {
  text-align: center;
  border-radius: 15px;
  height: 100%;
  width: 99%;
  margin: 0.5% 2% 0.5% 2%;
  padding-top: 10px;
  background: linear-gradient(
    to right,
    var(--white) -50%,
    var(--dark-purple) 100%
  );
}

.create-chatroom-box form {
  font-size: 150%;
} 

/*-------------------------------------------------------------------------*/
/*----------------------- User Profile Page -------------------------------*/
/*-------------------------------------------------------------------------*/

/* .profile-card { */
  /* text-align: center;
  border-radius: 15px;
  height: 100%;
  width: 99%;
  margin: 0.5% 0.5% 0.5% 0.5%;
  padding-top: 10px;
  background: linear-gradient(
    to right,
    var(--white) -50%,
    var(--dark-purple) 100%
  ); */

  /* text-align: center;
  border-radius: 15px;
  height: 93%;
  width: 99%;
  margin: 0.5% 0.5% 0.5% 0.5%;
  padding-top: 10px;
  background: linear-gradient(
    to right,
    var(--white) -50%,
    var(--dark-purple) 100%
  );
}

#photo-button {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

input#id_room_name {
  background-color: azure;
  border-radius: 15px;
  border: none;
}

input.btn {
  background-color: azure;
  width: 25%;
  border-radius: 15px;
}

input {
  background-color: azure;
  border-radius: 15px;
  border: none;
  padding: 10px;
}

input:active {
  background-color: azure;
  border-radius: 15px;
  border: none;
  padding: 10px;
}

#id_bio {
  border-radius: 15px;
  background-color: azure;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 1% 4%;
  cursor: pointer;
  border-radius: 15px;
  background-color: azure;
}

.custom-file-upload:hover {
  cursor: pointer;
  background-color: rgb(188, 202, 202);
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(188, 202, 202);
}

.file-button {
  display: none;
}

#id_email,
#id_first_name,
#id_last_name,
#id_bio {
  text-align: center;
}

a {
  text-decoration: none;
  color: azure;
}

.login-btn {
  background-color: azure;
  text-align: center;
}

.login-btn:hover {
  color: white;
  cursor: pointer;
  background-color: var(--dark-purple);
}

.login-nav {
  text-align: center;
  width: 98%;
  height: 98%;
  margin: 0.5% 0.5% 0.5% 0.5%;
  border-radius: 15px;
  background: linear-gradient(
    to right,
    var(--white) -50%,
    var(--dark-purple) 90%
  );
  font-size: 20px;
} */
/*-------------------------------------------------------------------------*/
/*--------------------------- Login Page ----------------------------------*/
/*-------------------------------------------------------------------------*/

/* .login-box {
    text-align: center;
    border-radius: 15px;
    height: 100%;
    width: 99%;
    margin: 0.5% 0.5% 0.5% 0.5%;
    padding-top: 20px;
    background: linear-gradient(to right, var(--white) -50%, var(--dark-purple) 100%);
} */

/*-------------------------------------------------------------------------*/
/*--------------------------- Signup Page ---------------------------------*/
/*-------------------------------------------------------------------------*/

/* .chat-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: blueviolet;
} */

.signup-main-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: absolute;

  /* Enable smartResizing. */
  margin: auto;
  /* width: 14.32rem; */
  /* height: 7.12rem; */
  width: 100%;
  height: 100%;
  /* box-sizing: border-box; */
  /* background-color: blueviolet; */
  /* border: solid 5px red; */
}
/* margin: 1%; */
/* width: 143.2rem;
height: 81.5rem; */

.left-signup-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;

  align-items: center;

  height: 100%;
  width: 100%;
  z-index: 4;
  background-color: lightblue;
}
/* flex: 0 0 55%; */
/* position: relative; */

.signup-box {
  display: flex;
  flex-direction: column;
  /* margin: 8% 4% 16% 16%; */
  margin: 1%;
  padding: 1%;
  border: solid wheat 5px;
  border-radius: 25px;
  position: relative;
  box-sizing: border-box;
  /* height: 100%;
  width: 100%; */
  height: 5.5rem;
  width: 6.5rem;
  /* width: 400px; */
  /* padding-bottom: 75%; */
  background-color: red;
}

.third-party-signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 1% 1% 1% 1%;
  height: 100%;
  /* background-color: purple; */
}

.third-party-signup-box > div {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 0.2rem;
  line-height: 0.36rem;
}

#signup-header {
  font-weight: 700;
  font-size: 0.24rem;
}

/* #enclosed-signup-text {
} */

.email-signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  padding: 1% 1% 1% 1%;
  flex: 0 0 60%;
  /* background-color: green; */
}

.email-signup-box > input {
  padding: 1.5%;
  margin: 0.5%;
  width: 65%;
  height: 30%;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 0.24rem;
  line-height: 0.36rem;
  border-radius: 0.28rem;
}

.email-signup-box > button {
  padding: 2.5%;
  margin: 3% 0% 3% 0%;
  border-radius: 0.35rem;
  width: 30%;
  /* height: 30%; */
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 0.24rem;
  line-height: 0.36rem;
}

.signup-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0% 2% 0% 2%;
  /* background-color: blue; */
}

.signup-icons > img {
  margin: 0% 3% 0% 3%;
}

.right-signup-container {
  display: flex;
  position: relative;
  /* flex-direction: column; */
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: lightcoral; */
}

.phone-bubble-container {
  display: flex;
  position: relative;
  width: 2rem;
  height: 2rem;
  /* background-color: greenyellow; */
}

/* Top */
#pink-circ {
  position: absolute;
  width: 7.2rem;
  height: 7.2rem;
  /* left: 35%;
  top: 8%; */
  left: 5%;
  top: -90%;
  background: linear-gradient(180deg, #EBA0C9 0%, rgba(235, 160, 201, 0.765543) 2.48%, rgba(235, 160, 201, 0) 77.43%);
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  border-radius:50%;
}

/* Bottom right */
#purple-circ {
  position: absolute;
  width: 6.9rem;
  height: 6.9rem;
  /* left: -5%;
  top: 58%; */
  left: -85%;
  top: 70%;
  background: linear-gradient(220.89deg, #C79CE0 23.2%, rgba(199, 156, 224, 0.458333) 49.34%, rgba(199, 156, 224, 0) 89.82%);
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

/* Bottom left */
#blue-circ {
  position: absolute;
  width: 6rem;
  height: 6rem;
  /* left: -35%;
  top: 50%; */
  left: -205%;
  top: 30%;
  background: linear-gradient(182.16deg, #D0EBFD 1.82%, rgba(208, 235, 253, 0) 98.3%);
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  border-radius: 50%; 
}

#phone-template {
  position: absolute;
  width: 8.88rem;
  height: 7.12rem;
  left: -310.75%;
  top: -125.25%;
  transform: skew(-1deg, -15deg);
  z-index: 1;
}

#phone-screen {
  position: absolute;
  width: 5.42rem;
  height: 4.47rem;
  left: -144.6%;
  top: -56.4%;
  transform: skew(-0.5deg, -15deg);
  z-index: 2;
}

#phone-template-effects {
  position: absolute;
  width: 5.68rem;
  height: 4.74rem;
  left: -151.4%;
  top: -62.5%;
  transform: skew(-1deg, -15deg);
  z-index: 3;
}

#phone-notifications-1 {
  position: absolute;
  width: 4.16rem;
  height: 3.2rem;
  left: -93%;
  top: -78%;
  transform: skewY(-15deg);
  z-index: 4;
}

#phone-notifications-2 {
  position: absolute;
  width: 4.16rem;
  height: 3.2rem;
  left: -170.5%;
  top: 15%;
  transform: skewY(-15deg);
  z-index: 4;
}




/* .rectangle {
  transform: matrix3d(
    1, 0, 0, 0,
    0, cos(45deg), sin(45deg), 0,
    0, -sin(45deg), cos(45deg), 0,
    0, 0, 0, 1
  );
} */



/* display: flex;
align-items: flex-start;
border-radius: 15px;
height: 100%;
width: 99%;
margin: 0.5% 0.5% 0.5% 0.5%;
padding-top: 20px;
padding-left: 200px;
padding-right: 200px;
box-sizing: border-box;
background: linear-gradient(
  to right,
  var(--white) -50%,
  var(--dark-purple) 100%
); */

/* .signup-box ul {
  list-style-type: none;
} */

/* .signup-btn {
  text-align: center;
} */

/* .img-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  height: 100%;
  width: 99%;
  margin: 0.5% 0.5% 0.5% 0.5%;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  box-sizing: border-box;
  background: linear-gradient(
    to right,
    var(--white) -50%,
    var(--dark-purple) 100%
  );
  font-size: 120%;
}

.img-card a {
  margin-left: 10px;
  margin-right: 10px;
}

.img-card > span {
  font-weight: bold;
}

.img-container {
  height: 140px;
  width: 30%;
}

.img-container > img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
}

/*-------------------------------------------------------------------------*/
/*--------------------------- Message Page ---------------------------------*/
/*-------------------------------------------------------------------------*/

/* #filler {
  margin: 5px;
  color: azure;
} */

/* SMALL SCREEN MEDIA QUERY  */
@media screen and (max-width: 800px) {
  .navbar-nav {
    font-size: 10px;
  }
  #welcome-user {
    display: none;
  }
  #home {
    margin: 0 5%;
  }
}

/*-------------------------------------------------------------------------*/
/*----------------------- Delete Chatroom Page ----------------------------*/
/*-------------------------------------------------------------------------*/

.delete-chatroom-card {
  text-align: center;
  border-radius: 15px;
  height: 100%;
  width: 99%;
  margin: 0.5% 0.5% 0.5% 0.5%;
  padding-top: 10px;
  background: linear-gradient(
    to right,
    var(--white) -50%,
    var(--dark-purple) 100%
  );
}


a{
  color:black;
}



/* NEW CSS CODE FOR TEMPLATE REDESIGN TEMPLATE */
a{
  color:black;
  text-decoration: none;
} 

/* second-main */

/* main{
display:flex;
justify-content:center;
width:100vw;
overflow:hidden;
min-height: calc( 100vh - 70px);

} */

.left-main{
  height:100%;
  width:100%;

}


.right-main{
  height:100%;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}

/* #blue-circ {
  width: 729px;
  height: 688px;
  left: -8vw;
  top: calc( 40vh - 70px);
  background: linear-gradient(182.16deg, #D0EBFD 1.82%, rgba(208, 235, 253, 0) 98.3%);
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50%; 
  position: absolute;
}

#pink-circ {
  border-radius:50%;
  width: 808px;
  height: 842px;
  left: 21vw;
  top: calc( 10vh - 70px);
  background: linear-gradient(180deg, #EBA0C9 0%, rgba(235, 160, 201, 0.765543) 2.48%, rgba(235, 160, 201, 0) 77.43%);
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.25);
  position: absolute;
}

#purple-circ {
  width: 808px;
  height: 813px;
  left: 15vw;
  top: calc( 50vh - 70px);
  border-radius: 50%;
  background: linear-gradient(220.89deg, #C79CE0 23.2%, rgba(199, 156, 224, 0.458333) 49.34%, rgba(199, 156, 224, 0) 89.82%);
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.25);
  position: absolute;
} */

#phone-case{
  position: absolute;
  width: 275.79px;
  height: 595px;
  left:22vw;
  top: 215px;
  background: #2D2D2D;
  box-shadow: 46.9428px 35.2071px 35.2071px rgba(0, 0, 0, 0.4), inset -17.6035px -1.17357px 17.6035px rgba(255, 255, 255, 0.1), inset 17.6035px 1.17357px 17.6035px rgba(9, 9, 9, 0.5);
  border-radius: 29.3393px;
  }

#main-title{
  position: absolute;
  width: 490px;
  height: 63px;
  left: 142px;
  top: 444px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 63px;
  
  color: #C79CE0;
  
}

#p-title{
  position: absolute;
  width: 341px;
  height: 72px;
  left: 142px;
  top: 514px;
  
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  
  color: #000000;
  
}

#main-button{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 8px;
position: absolute;
width: 142px;
height: 48px;
left: calc(50% - 142px/2 - 514px);
top: 625px;
background: #C79CE0;
border-radius: 20px;
color:white;
}

#text-container{
  position: relative;
}

.text-box1{
position: absolute;
width: 152.6px;
height: 48.68px;
left: 13px;
top: 523.66px;
background: #FFFFFF;
border-radius: 8.95354px;
}

.text-box2{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  background: #FFFFFF;
  border-radius: 8.95354px;
}

.text-box3{
  position: absolute;
  width: 152.6px;
  height: 48.68px;
  left: 13px;
  top: 523.66px;
  background: #FFFFFF;
  border-radius: 8.95354px;
}

.text-box4{
  position: absolute;
  width: 152.6px;
  height: 48.68px;
  left: 13px;
  top: 523.66px;
  background: #FFFFFF;
  border-radius: 8.95354px;
  }



/* NEW CSS GOBI */
/* CHAT BOX  */

.newchat{
  background-color: #2D2C2C;
  width:100vw;
  height: 100%;
  
  overflow: hidden;
  display:grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr 8fr;
  grid-template-areas: 
    "left-chat-bar top-chat-bar"
    "left-chat-bar chat-bar"
    "left-chat-bar chat-bar";

}

.left-chat-bar{
  grid-area:left-chat-bar;
  background: #2D2C2C;

}

.top-chat-bar{
  grid-area:top-chat-bar;
  background: #2D2C2C;
  border: 1px solid #C79CE0;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.25);
}

.chat-bar{
  grid-area:chat-bar;
  background: linear-gradient(180deg, #DCF2FF 18.17%, #F0D7FF 33.68%, #F1CEE1 47.3%, #DDEFFB 63.72%, #F0E0FF 80.47%, rgba(199, 156, 224, 0) 106.84%);
  opacity: 0.9;
  overflow:hidden;
  position: relative;
  
}


/*-------------------------------------------------------------------------*/
/*--------------------------- Chat page ---------------------------------*/
/*-------------------------------------------------------------------------*/

/* #user-message {
  background-color: #c79ce0;
  border: 1px solid #e5e5ea;
  color: white;
  border-radius: 0.5rem;
  font-family: "SanFrancisco";
  font-size: 20px;
  margin: 0 auto 1rem;
  max-width: 200px;
  padding: 0.5rem 1.5rem;
  margin-right: 20vw;
  padding: 20px;
}

#not-user-message {
  background-color: #eba0c9;
  border: 1px solid #e5e5ea;
  color: white;
  border-radius: 0.5rem;
  font-family: "SanFrancisco";
  font-size: 20px;
  margin: 0 auto 1rem;
  max-width: 200px;
  padding: 0.5rem 1.5rem;
  margin-left: 20vw;
  padding: 20px;
} */

.input-box {
  position:absolute;
  bottom:0px;
  width: 100%;
  background-color:red;
  display:flex;
  border-top: 1px solid #C79CE0;
}

#chat-message-input {
  bottom:0px;
  width: 90%;
  height:50px;
  border-top: 1px solid #C79CE0;
}

#chat-message-submit {
  padding: 17px;
  border-radius: 0px 10px 10px 0px;
  background: #000000;
  color: white;
  transition: all 0.4s ease-in-out;
  width: 10%;
  height:105%;
}

#chat-message-submit:hover {
  padding: 15px;
  transform: scale(1.05);
  font-size: 20px;
}
#chat-message-submit:active {
  transform: scale(0.98);
  font-size: 15px;
} 

/*-------------------------------------------------------------------------*/
/*----------------- View Chatrooms Page (index.html) ----------------------*/
/*-------------------------------------------------------------------------*/