/* Praetoria D OTF Font  */

body {
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
  color: var(--text);
  background: #f5f5f5;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}



/* first-main */

main {
  position: relative;
  width: 100vw;
  height: calc(100vh - 0.8rem);
  display: flex;
  justify-content: center;
  overflow: hidden;
}
/* box-sizing: border-box; */

.lightMode {
  --background: var(--gray0);
  --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
  --text: var(--gray6);
}

.darkMode {
  --background: var(--gray5);
  --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
  --text: var(--gray0);
}



/* LOGO START  */

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  animation: color-rotate 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: all 0.5s ease;
}

.logo-title {
  color: black;
  text-decoration: none;
}

/* LOGO END  */

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
/*---------------------------------------------------------- END NAV BAR --------------------------------------- */
.color-themes {
  display: grid;
  grid-template-areas: "topbar1 topbar2 topbar3";
  grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
}

/* #sun {
  grid-area: topbar1;
  max-width: 35px;
}

#sun:hover {
  transform: scale(1.3);
  transition: 0.8s;
  cursor: pointer;
}

#moon {
  grid-area: topbar3;
  max-width: 35px;
}

#moon:hover {
  transform: scale(1.3);
  transition: 0.8s;
  cursor: pointer;
} */


/*  ---------------------------------------------------VERTICAL BAR --------------------------------------------------- */


.title-bar {
  text-align: center;
  width: 98%;
  margin: 0.5% 0.5% 0 0.5%;
  padding: 0.01% 0;
  border-radius: 15px;
  background: linear-gradient(
    to right,
    var(--white) -50%,
    var(--dark-purple) 90%
  );
  font-size: 20px;
}

/* .message-box {
  color: rgb(193, 192, 192);
  border: 3px solid rgb(193, 192, 192);
  border-radius: 15px;
  background-color: var(--dark-magenta);
  text-align: center;
  width: 80%;
  max-height: 30px;

} */

/* .message-box::placeholder {
  color: rgb(193, 192, 192);
  text-align: center;
} */

:root {

  /* font-size: 16px; */
  font-size: 100px;

  --white: white;
  --black: black;
  --azure: azure;

  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;

  --purple0: #532850;
  --purlpe1: #452142;
  --purlpe2: #371b35;
  --purlpe3: #291428;
  --purlpe4: #1b0d1b;
  --purlpe5: #0e070e;

  --yellow0: #746b06;
  --yellow1: #615905;
  --yellow2: #4e4704;
  --yellow3: #4e4704;
  --yellow4: #272402;
  --yellow5: #131201;

  --red0: #d64045;
  --red1: #600c06;
  --red2: #4d0a05;
  --red3: #3a0704;
  --red4: #260403;
  --red5: #130202;

  --xiketic: #0e070eff;
  --english-violet: #3f2e56ff;
  --dark-slate-blue: #453f78ff;
  --pewter-blue: #759aabff;
  --black-chocolate: #131201ff;
  /* LIGHT THEME COLORS  */
  --uranian-blue: #a1dcf7;
  --lavendar-floral: #be81da;
  --lilac: #d4a5c7;

  /* DARK THEME COLORS  */
  --magenta: #7232f2;
  --dark-purple: #20115b;
  --dark-magenta: #4922a7;
}

/*-------------------------------------------------------------------------*/
/*-------------------------- Home Page ------------------------------------*/
/*-------------------------------------------------------------------------*/

.home-text-box {
  display: flex;
  flex-direction: column;
  position: relative;
  /* position: absolute; */
  margin: 3%;
  padding: 1%;
  box-sizing: border-box;
  height: 3.5rem;
  width: 6.5rem;
  z-index: 5;
  align-items: left;
  justify-content: center;
  box-sizing: border-box;
  padding: 1%;
}

#home-header {
  display: flex;
  margin: 1%;
  /* position: absolute; */
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 0.52rem;
  line-height: 0.63rem;
  color: #c79ce0;
}

#home-text {
  display: flex;
  /* position: absolute; */
  margin: 1% 44% 1% 1%;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 0.22rem;
  line-height: 0.24rem;
  color: #000000;
}

#main-button {
  display: flex;
  margin: 7% 7% 7% 1%;
  /* position: absolute; */
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  gap: 0.08rem;
  width: 1.42rem;
  height: 0.48rem;
  /* left: calc(50% - 142px/2 - 514px);
  top: 625px; */
  background: #c79ce0;
  color: white;
  border-radius: 0.2rem;
  font-size: 0.18rem;
  line-height: 0.24rem;
  letter-spacing: 0.01rem;
  font-feature-settings: "pnum" on, "lnum" on;
  filter: drop-shadow(0.06rem 0.05rem 0.05rem rgba(0, 0, 0, 0.3));
  border: 0;
}

/*-------------------------------------------------------------------------*/
/*-------------------------- About Page -----------------------------------*/
/*-------------------------------------------------------------------------*/

.about-container {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  position: absolute;
  /* position: relative; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* overflow-y: hidden; */
  /* flex-wrap: inherit; */

  justify-content: center;
  /* background-color: lightgray; */
}
/* overflow: hidden; */

#left-about-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex: 0 0 70%;
  height: 100%;
  width: 100%;

  top: 0%;
  left: 0%;

  margin: auto;

  z-index: 2;

  /* background-color: lightslategray; */
}

#right-about-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  /* flex-shrink: 2; */

  /* background-color: lightgreen; */
}

#top-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  /* margin: 0% 20% 4% 6%; */
  /* margin: 0% 0% 2% 6%; */
  margin: 2% 6% 2% 6%;

  /* background-color: blue; */
}

#middle-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  /* margin: 0% 0% 2% 6%; */
  margin: 0% 6% 2% 6%;

  /* background-color: red; */
}

#about-header {
  font-style: normal;
  font-family: "Helvetica Neue";
  font-weight: 700;
  color: #c79ce0;
  /* font-size: 0.52rem;
  line-height: 0.63rem; */
  font-size: 0.44rem;
  /* line-height: 0.63rem; */
  z-index: 1;

  /* background-color: red; */
}

#about-text {
  font-style: normal;
  font-family: "Helvetica Neue";
  font-weight: 400;
  color: #000000;
  /* font-size: 0.24rem;
  line-height: 0.29rem; */
  font-size: 0.22rem;
  line-height: 0.24rem;
  z-index: 1;
  /* margin: 0% 20% 0% 0%; */
  padding: 0% 30% 0% 0%;

  /* background-color: yellowgreen; */
}

#team-header {
  font-style: normal;
  font-family: "Helvetica Neue";
  font-weight: 700;
  color: #c79ce0;
  /* font-size: 0.52rem;
  line-height: 0.63rem; */
  font-size: 0.44rem;
  /* line-height: 0.63rem; */
  z-index: 1;

  /* background-color: red; */
}

#team-text {
  font-style: normal;
  font-family: "Helvetica Neue";
  font-weight: 400;
  color: #000000;
  /* font-size: 0.24rem;
  line-height: 0.29rem; */
  font-size: 0.22rem;
  line-height: 0.24rem;
  z-index: 1;

  /* background-color: yellowgreen; */
}

#members {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: left; */
  align-items: flex-start;
  /* flex-basis: 50%; */
  /* flex: 0 0 65%; */
  box-sizing: border-box;
  /* flex-wrap: wrap; */
  /* flex-grow: inherit; */
  /* margin: 0% 6% 0% 6%; */

  margin: 0% 4% 0% 4%;
  /* padding: 2%; */

  /* width: 100%; */
  /* height: 2.54rem; */

  /* background-color: lightgreen; */
}

.members-container {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  /* padding-bottom: 8%; */
  /* padding: 1% 1% 8% 1%; */
  /* margin: 0% 10% 0% 0%; */
  margin: 2%;

  /* flex-wrap: wrap; */
  width: 1.9rem;
  height: 1.9rem;
  /* min-width: 1.9rem; */
  /* min-height: 1.9rem; */

  /* background-color: lightskyblue; */
}

/* .members-container > img {
  width: 1.85rem;
  height: 1.85rem;
} */

.member-links > img {
  width: 0.4rem;
  height: 0.4rem;
}

.profile-pic {
  border: 0.02rem solid #c79ce0;
  border-radius: 0.1rem;
  z-index: 1;
}

.member-links {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 3%;
  font-family: "Helvetica Neue";
  font-style: normal;
  border: 0.02rem solid #c79ce0;
  border-radius: 0.1rem;
  font-size: 0.19rem;
  line-height: 0.24rem;

  /* background-color: yellow; */
}

.member-links span {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  color: #c79ce0;
  font-size: 0.19rem;
  line-height: 0.24rem;
}

/* #links {
  justify-content: center;
  align-items: center;  
} */

#about-phone-bubble-box {
  display: flex;
  position: relative;
  width: 2rem;
  height: 2rem;

  /* background-color: red; */
}

/* Top */
#pink-circle {
  /* position: absolute;
  width: 8.08rem;
  height: 8.42rem;
  border-radius:50%;
  left: 5vw;
  top: calc( -35vh - 70px);
  background: linear-gradient(180deg, #EBA0C9 0%, rgba(235, 160, 201, 0.765543) 2.48%, rgba(235, 160, 201, 0) 77.43%);
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  z-index: 0; */

  position: absolute;
  width: 6.4rem;
  height: 6.4rem;
  left: 5%;
  top: -90%;
  background: linear-gradient(
    180deg,
    #eba0c9 0%,
    rgba(235, 160, 201, 0.765543) 2.48%,
    rgba(235, 160, 201, 0) 77.43%
  );
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

/* Bottom right */
#purple-circle {
  /* position: absolute;
  width: 8.08rem;
  height: 8.13rem;
  border-radius: 50%;
  left: 25vw;
  top: calc( -40vh - 70px);
  background: linear-gradient(220.89deg, #C79CE0 23.2%, rgba(199, 156, 224, 0.458333) 49.34%, rgba(199, 156, 224, 0) 89.82%);
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  z-index: 0; */

  position: absolute;
  width: 6.4rem;
  height: 6.4rem;
  left: -35%;
  top: 70%;
  background: linear-gradient(
    220.89deg,
    #c79ce0 23.2%,
    rgba(199, 156, 224, 0.458333) 49.34%,
    rgba(199, 156, 224, 0) 89.82%
  );
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

/* Bottom left */
#blue-circle {
  /* position: absolute;
  width: 7.29rem;
  height: 6.88rem;
  border-radius: 50%;
  left: 15vw;
  top: calc( 12vh - 70px);
  background: linear-gradient(182.16deg, #D0EBFD 1.82%, rgba(208, 235, 253, 0) 98.3%);
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  z-index: 0; */

  position: absolute;
  width: 5.4rem;
  height: 5.4rem;
  left: -135%;
  top: 30%;
  background: linear-gradient(
    182.16deg,
    #d0ebfd 1.82%,
    rgba(208, 235, 253, 0) 98.3%
  );
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

#cartoon-phone {
  position: absolute;
  width: 5.4rem;
  height: 6rem;
  left: -110%;
  top: -135%;
  z-index: 1;
}

.about-box-top {
  display: flex;
  height: 100%;
  width: 100%;
} 
/* background-color: lightseagreen; */

.top-left-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 0% 8% 0% 8%;
  box-sizing: border-box;
}
/* background-color: blueviolet;;
/* flex: 0 0 55%; */

.top-right-box {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content:center;
  align-items:center;
  position:relative;
}
/* background-color: lightgreen; */
/* flex: 0 0 45%; */

.about-box-bottom {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  padding: 0% 8% 0% 8%;
}
/* background-color: gold;

/*-------------------------------------------------------------------------*/
/*--------------------- Create Chatroom Page ------------------------------*/
/*-------------------------------------------------------------------------*/

.create-chatroom-box {
  text-align: center;
  border-radius: 15px;
  height: 100%;
  width: 99%;
  margin: 0.5% 2% 0.5% 2%;
  padding-top: 10px;
  background: linear-gradient(
    to right,
    var(--white) -50%,
    var(--dark-purple) 100%
  );
}

.create-chatroom-box form {
  font-size: 150%;
}

/*-------------------------------------------------------------------------*/
/*----------------------- User Profile Page -------------------------------*/
/*-------------------------------------------------------------------------*/

/* .profile-card { */
/* text-align: center;
  border-radius: 15px;
  height: 100%;
  width: 99%;
  margin: 0.5% 0.5% 0.5% 0.5%;
  padding-top: 10px;
  background: linear-gradient(
    to right,
    var(--white) -50%,
    var(--dark-purple) 100%
  ); */

/* text-align: center;
  border-radius: 15px;
  height: 93%;
  width: 99%;
  margin: 0.5% 0.5% 0.5% 0.5%;
  padding-top: 10px;
  background: linear-gradient(
    to right,
    var(--white) -50%,
    var(--dark-purple) 100%
  );
}

#photo-button {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

input#id_room_name {
  background-color: azure;
  border-radius: 15px;
  border: none;
}

input.btn {
  background-color: azure;
  width: 25%;
  border-radius: 15px;
}

input {
  background-color: azure;
  border-radius: 15px;
  border: none;
  padding: 10px;
}

input:active {
  background-color: azure;
  border-radius: 15px;
  border: none;
  padding: 10px;
}

#id_bio {
  border-radius: 15px;
  background-color: azure;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 1% 4%;
  cursor: pointer;
  border-radius: 15px;
  background-color: azure;
}

.custom-file-upload:hover {
  cursor: pointer;
  background-color: rgb(188, 202, 202);
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(188, 202, 202);
}

.file-button {
  display: none;
}

#id_email,
#id_first_name,
#id_last_name,
#id_bio {
  text-align: center;
}

a {
  text-decoration: none;
  color: azure;
}

.login-btn {
  background-color: azure;
  text-align: center;
}

.login-btn:hover {
  color: white;
  cursor: pointer;
  background-color: var(--dark-purple);
}

.login-nav {
  text-align: center;
  width: 98%;
  height: 98%;
  margin: 0.5% 0.5% 0.5% 0.5%;
  border-radius: 15px;
  background: linear-gradient(
    to right,
    var(--white) -50%,
    var(--dark-purple) 90%
  );
  font-size: 20px;
} */
/*-------------------------------------------------------------------------*/
/*--------------------------- Login Page ----------------------------------*/
/*-------------------------------------------------------------------------*/

.login-box {
    text-align: center;
    border-radius: 15px;
    height: 100%;
    width: 99%;
    margin: 0.5% 0.5% 0.5% 0.5%;
    padding-top: 20px;
    background: linear-gradient(to right, var(--white) -50%, var(--dark-purple) 100%);
}

/*-------------------------------------------------------------------------*/
/*--------------------------- Signup Page ---------------------------------*/
/*-------------------------------------------------------------------------*/



.signup-main-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 0.8rem);
}
/* border: solid 5px red; */
/* margin: auto; */
/* box-sizing: border-box; */

.left-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 60%;
  height: 100%;
  width: 100%;

  /* top: 0%; */
  /* left: 0%; */
}

.signup-box {
  display: flex;
  flex-direction: column;
  position: relative;
  /* position: absolute; */
  margin: 3%;
  padding: 1%;
  border-radius: 0.3rem;
  box-sizing: border-box;
  height: 5.5rem;
  width: 6.5rem;
  z-index: 5;
  background: linear-gradient(
    179.62deg,
    #d0ebfd 52.02%,
    rgba(208, 235, 253, 0.184324) 130.34%,
    rgba(208, 235, 253, 0) 163.85%
  );
  filter: drop-shadow(0.04rem 0.03rem 0.03rem rgba(0, 0, 0, 0.25));
}

.third-party-signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 1%;
  height: 100%;
}

.third-party-signup-box > div {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 0.2rem;
  line-height: 0.36rem;
  letter-spacing: 0.01rem;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

#signup-header {
  font-weight: 700;
  font-size: 0.24rem;
}

#enclosed-signup-text span {
  background: linear-gradient(
    179.62deg,
    #d0ebfd 52.02%,
    rgba(208, 235, 253, 0.184324) 130.34%,
    rgba(208, 235, 253, 0) 163.85%
  );
  padding: 0 10px;
}

#enclosed-signup-text {
  position: relative;
  width: 90%;
  text-align: center;
}

#enclosed-signup-text::before,
#enclosed-signup-text::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #c79ce0;
}

#enclosed-signup-text::before {
  width: 80%;
  left: 0;
  top: 50%;
  z-index: -1;
}

#enclosed-signup-text::after {
  width: 80%;
  right: 0;
  top: 50%;
  z-index: -1;
}

.email-signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  padding: 1% 1% 1% 1%;
  flex: 0 0 60%;
}

.email-signup-box > input {
  padding: 1.5%;
  margin: 0.5%;
  width: 65%;
  height: 30%;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 0.24rem;
  line-height: 0.36rem;
  border-radius: 0.3rem;
  filter: drop-shadow(0.06rem 0.05rem 0.05rem rgba(0, 0, 0, 0.3));
  color: #949393;
  letter-spacing: 0.01rem;
  font-feature-settings: "pnum" on, "lnum" on;
  border: 0;
  background: #ffffff;
}

.email-signup-box > button {
  padding: 2.5%;
  margin: 3% 0% 3% 0%;
  border-radius: 0.3rem;
  width: 30%;
  height: 30%;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 0.24rem;
  line-height: 0.36rem;
  background: #c79ce0;
  filter: drop-shadow(0.06rem 0.05rem 0.05rem rgba(0, 0, 0, 0.3));
  color: white;
  letter-spacing: 0.01rem;
  font-feature-settings: "pnum" on, "lnum" on;
  border: 0;
}

.signup-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0% 2% 0% 2%;
}

.signup-icons > img {
  margin: 0% 4% 0% 4%;
  width: 0.45rem;
  height: 0.45rem;
}

/* ------------------------------------------- */

.right-signup-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#phone-bubble-container {
  display: flex;
  position: relative;
  width: 2rem;
  height: 2rem;
}

/* Top */
#pink-circ {
  position: absolute;
  width: 7.2rem;
  height: 7.2rem;
  left: 5%;
  top: -90%;
  background: linear-gradient(
    180deg,
    #eba0c9 0%,
    rgba(235, 160, 201, 0.765543) 2.48%,
    rgba(235, 160, 201, 0) 77.43%
  );
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

/* Bottom right */
#purple-circ {
  position: absolute;
  width: 6.9rem;
  height: 6.9rem;
  left: -85%;
  top: 70%;
  background: linear-gradient(
    220.89deg,
    #c79ce0 23.2%,
    rgba(199, 156, 224, 0.458333) 49.34%,
    rgba(199, 156, 224, 0) 89.82%
  );
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

/* Bottom left */
#blue-circ {
  position: absolute;
  width: 6rem;
  height: 6rem;
  left: -205%;
  top: 30%;
  background: linear-gradient(
    182.16deg,
    #d0ebfd 1.82%,
    rgba(208, 235, 253, 0) 98.3%
  );
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

#phone-template {
  position: absolute;
  width: 8.88rem;
  height: 7.12rem;
  left: -310.75%;
  top: -125.25%;
  transform: skew(-1deg, -15deg);
  z-index: 1;
}

#phone-screen {
  position: absolute;
  width: 5.42rem;
  height: 4.47rem;
  left: -144.6%;
  top: -56.4%;
  transform: skew(-0.5deg, -15deg);
  z-index: 2;
}

#phone-template-effects {
  position: absolute;
  width: 5.68rem;
  height: 4.74rem;
  left: -151.4%;
  top: -62.5%;
  transform: skew(-1deg, -15deg);
  z-index: 3;
}

#phone-notifications-1 {
  position: absolute;
  width: 4.16rem;
  height: 3.2rem;
  left: -93%;
  top: -78%;
  transform: skewY(-15deg);
  z-index: 4;
}

#phone-notifications-2 {
  position: absolute;
  width: 4.16rem;
  height: 3.2rem;
  left: -170.5%;
  top: 15%;
  transform: skewY(-15deg);
  z-index: 4;
}

/* .rectangle {
  transform: matrix3d(
    1, 0, 0, 0,
    0, cos(45deg), sin(45deg), 0,
    0, -sin(45deg), cos(45deg), 0,
    0, 0, 0, 1
  );
} */

/* display: flex;
align-items: flex-start;
border-radius: 15px;
height: 100%;
width: 99%;
margin: 0.5% 0.5% 0.5% 0.5%;
padding-top: 20px;
padding-left: 200px;
padding-right: 200px;
box-sizing: border-box;
background: linear-gradient(
  to right,
  var(--white) -50%,
  var(--dark-purple) 100%
); */

/* .signup-box ul {
  list-style-type: none;
} */

/* .signup-btn {
  text-align: center;
} */

/* .img-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  height: 100%;
  width: 99%;
  margin: 0.5% 0.5% 0.5% 0.5%;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  box-sizing: border-box;
  background: linear-gradient(
    to right,
    var(--white) -50%,
    var(--dark-purple) 100%
  );
  font-size: 120%;
}

.img-card a {
  margin-left: 10px;
  margin-right: 10px;
}

.img-card > span {
  font-weight: bold;
}

.img-container {
  height: 140px;
  width: 30%;
}

.img-container > img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
}

/*-------------------------------------------------------------------------*/
/*--------------------------- Message Page ---------------------------------*/
/*-------------------------------------------------------------------------*/

#filler {
  margin: 5px;
  color: azure;
} 

/* SMALL SCREEN MEDIA QUERY  */
@media screen and (max-width: 800px) {
  .navbar-nav {
    font-size: 10px;
  }
  #welcome-user {
    display: none;
  }
  #home {
    margin: 0 5%;
  }
}

/*-------------------------------------------------------------------------*/
/*----------------------- Delete Chatroom Page ----------------------------*/
/*-------------------------------------------------------------------------*/

.delete-chatroom-card {
  text-align: center;
  border-radius: 15px;
  height: 100%;
  width: 99%;
  margin: 0.5% 0.5% 0.5% 0.5%;
  padding-top: 10px;
  background: linear-gradient(
    to right,
    var(--white) -50%,
    var(--dark-purple) 100%
  );
}

a {
  color: black;
}

/* NEW CSS CODE FOR TEMPLATE REDESIGN TEMPLATE */
a {
  color: black;
  text-decoration: none;
}

/* second-main */

/* main{
display:flex;
justify-content:center;
width:100vw;
overflow:hidden;
min-height: calc( 100vh - 70px);

} */

.left-main {
  height: 100%;
  width: 100%;
}

.right-main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}



#phone-case {
  position: absolute;
  width: 275.79px;
  height: 595px;
  left: 22vw;
  top: 215px;
  background: #2d2d2d;
  box-shadow: 46.9428px 35.2071px 35.2071px rgba(0, 0, 0, 0.4),
    inset -17.6035px -1.17357px 17.6035px rgba(255, 255, 255, 0.1),
    inset 17.6035px 1.17357px 17.6035px rgba(9, 9, 9, 0.5);
  border-radius: 29.3393px;
}

#main-title {
  position: absolute;
  width: 490px;
  height: 63px;
  left: 142px;
  top: 444px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 63px;
  color: #c79ce0;
}

#p-title {
  position: absolute;
  width: 341px;
  height: 72px;
  left: 142px;
  top: 514px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}


#text-container {
  position: relative;
}

.text-box1 {
  position: absolute;
  width: 152.6px;
  height: 48.68px;
  left: 13px;
  top: 523.66px;
  background: #ffffff;
  border-radius: 8.95354px;
}

.text-box2 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
  border-radius: 8.95354px;
}

.text-box3 {
  position: absolute;
  width: 152.6px;
  height: 48.68px;
  left: 13px;
  top: 523.66px;
  background: #ffffff;
  border-radius: 8.95354px;
}

.text-box4 {
  position: absolute;
  width: 152.6px;
  height: 48.68px;
  left: 13px;
  top: 523.66px;
  background: #ffffff;
  border-radius: 8.95354px;
}

/*----------------------------------- NEW CSS GOBI -------------------------- */
/* -------------------------------------CHAT BOX ----------------------------- */

.newchat {
  background-color: #343434;
  width: 100vw;
  height: calc(100vh - 0.8rem);
  display: grid;
  grid-template-columns: 5fr 15fr;
  grid-template-rows: 11.5% 88.5%;
  grid-template-areas:
    "left-chat-bar top-chat-bar"
    "left-chat-bar chat-bar"
    "left-chat-bar chat-bar";
}

.left-chat-bar {
  grid-area: left-chat-bar;
  background: #343434;
  color: white;
  display: grid;
  grid-template-rows: 1fr 10fr;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  grid-template-areas:
    "left-top"
    "left-all-rooms";
}
.left-chat-bar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.top-chat-bar {
  grid-area: top-chat-bar;
  display: flex;
  justify-content: left;
  align-items: center;
  background: #343434;
  border: 1px solid #c79ce0;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.25);
}

.chat-bar {
  grid-area: chat-bar;
  opacity: 0.9;
  overflow: hidden;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: (calc(100vh -100px));
  background: linear-gradient(
    180deg,
    #dcf2ff 18.17%,
    #f0d7ff 33.68%,
    #f1cee1 47.3%,
    #ddeffb 63.72%,
    #f0e0ff 80.47%,
    rgba(199, 156, 224, 0) 106.84%
  );
}

.live-chat {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-y: scroll;
  width: 100%;
  height: 90%;
  background-color: transparent;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.live-chat::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.input-box {
  border-radius: 0px 0px 0px 0px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  text-align: center;
  display: flex;
  background: #ffffff;
  border-top: 1px solid #cca5e3;

  height: 1.2rem;
}
/*-------------------------------------------------------------------------*/
/*--------------------------- Chat page ---------------------------------*/
/*-------------------------------------------------------------------------*/

#user-message {
  background: #ffffff;
  border-radius: 0px 30px 30px 0px;
  width: 60%;

  /* padding: 2rem 0rem 2rem 5rem; */
  padding: 0.32rem 0rem 0.32rem 0.8rem;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 800;
  justify-self: left;
  align-items: left;
  align-self: left;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.4px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#not-user-message {
  background: #ffffff;
  border-radius: 30px 0px 0px 30px;
  width: 60%;
  padding: 2rem 0rem 2rem 5rem;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  justify-self: right;
  align-items: right;
  align-self: right;
  float: right;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.4px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#chat-input-container {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  position: relative;
}

#text-and-buttons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#send-icon {
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat-message-input {
  width: 100%;
  border-top: 1px solid #c79ce0;
  outline: none;
  border: none;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 0.3rem;
  line-height: 0.3rem;
  background-color: white;
  letter-spacing: 0.4px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #929090;
}

#input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

#chat-message-submit {
  background-color: transparent;
  border: none;
  transition: all 0.4s ease-in-out;
  align-self: center;
}

#chat-message-submit:hover {
  padding: 15px;
  transform: scale(1.05);
  font-size: 20px;
}
#chat-message-submit:active {
  transform: scale(0.98);
  font-size: 15px;
}

#bottom-input-buttons {
  display: flex;
  width: 100%;
  height: 0.9rem;
  gap: 0.2rem;
  align-items: center;
  text-align: center;
}

#room-name-id {
  width: 100%;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  letter-spacing: 0.4px;
  font-feature-settings: "pnum" on, "lnum" on;

  color: #ffffff;
}

/*-------------------------------------------------------------------------*/
/*----------------- View Chatrooms Page (index.html) ----------------------*/
/*-------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------*/
/*----------------- LEFT CHAT BAR  ----------------------*/
/*-------------------------------------------------------------------------*/
/* LEFT BAR START  */
#left-top {
  grid-area: left-top;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #c79ce0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10%;
}

#left-all-rooms {
  grid-area: left-all-rooms;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.left-all-rooms::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#left-rooms {
  grid-area: left-rooms;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #c79ce0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#left-rooms::-wekkit-scrollbar {
  display: none;
}

#left-add-room {
  grid-area: left-add-room;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #c79ce0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

#left-direct-message {
  grid-area: left-direct-message;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #c79ce0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

#left-all-users {
  grid-area: left-all-users;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #c79ce0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-add-teammates {
  grid-area: left-add-teammates;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #c79ce0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#left-your-chatrooms {
  grid-area: left-your-chatrooms;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #c79ce0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

#left-bottom {
  grid-area: left-bottom;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #c79ce0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* left logo top  */
.logo-white {
  color: white;
  margin-left: 5px;
  font-size: 30px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
}

.logo-left {
  width: 100px;
  animation: color-rotate 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: all 0.9s ease;
}

/* left all rooms text */
#sort-bottom {
  width: 20px;
  color: white;
  filter: invert(1);
  margin: 2px;
}

#p-allrooms {
  margin: 10%;
}

#chat-left-room-pic-title {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#chat-left-room-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#left-full-rooms {
  margin-left: 10%;
}

#left-add-room-container {
  margin: 10%;
  display: flex;
}

#left-rooms-name {
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  gap: 2%;
  width: 100%;
}

#add-button-image {
  width: 35px;
  height: 35px;
  filter: invert(1);
}

/* BOOTSTRAP  */
.accordion {
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-bg: var(--bs-body-bg);
  --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: var(--bs-border-width);
  --bs-accordion-border-radius: var(0px);
  --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: .2rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
  --bs-accordion-btn-icon-width: .3rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230a58ca'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25remrgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 2rem;
  --bs-accordion-active-color: var(--bs-primary-text);
  --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
  display: flex;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: solid 1px #c79ce0;
}

.accordion-button {
  background: #2d2c2c;
  border-width: 0.01rem 0.01rem;
  border-style: solid;
  border-color: #c79ce0;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1.2rem;
  padding: 0px;
  font-size: 0.2rem;
  color: var(white);
  text-align: left;
  background-color: var(black);
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:not(.collapsed) {
  background-color: #2d2c2c;
  color: white;
}

.accordion-body {
  background: #2d2c2c;
  color: white;
  overflow-y: scroll;
  max-height: 4rem;
  font-size: 0.2rem;
  padding: 0px;
  margin: 0px;
  gap:0.2rem;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.accordion-body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.all-room-a-tag {
  color: white;
  font-size: 0.3rem;
  padding: 0rem;
  margin:0rem;
}

.allroom-pic-name-container {

width: 100%;
padding: 0.1rem;
margin-left: 0.3rem;
}
.allroom-pic-name-container:hover{
  transform:scale(1.1)
}

/* EMOJIES */

.emoji-drawer {
  display: flex;
  flex-direction: column;
  border-radius: .1;
  transition: opacity 0.9s;
  position: absolute;
  bottom: 12vh;
  left: 1vw;
  z-index: 99;
  color: white;
  text-align: center;
  background: linear-gradient(
    220.89deg,
    #c79ce0 23.2%,
    rgba(199, 156, 224, 0.458333) 49.34%,
    rgba(94, 17, 138, 0) 89.82%
  );
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.25);
  border: solid .02rem black;
  max-width: 4rem;
  max-height: 4rem;
  overflow: hidden;
 
  border-radius: 10%;
}

#emoji-container {
  padding-left:0.2rem;
  padding-right:0.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: 0px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

}

#emoji-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.top-drawer {
  text-align: center;
  position: relative;
  width: 100%;
  padding: 0.1rem;
  font-size: 0.2rem;
  height: .8rem;
}
#drawer-title{
  font-size: 0.4rem;

}


#delete-x {
  position: absolute;
  right: 0.7vw;
  top: 0.7vw;
  color: red;
  font-weight: 900;
  cursor: pointer;
  font-size: .4rem;
  transition: 0.5s ease-in-out;

}

#delete-x:hover {
  font-size: .5rem;
}

.hidden {
  opacity: 0;
}

.emoji {
  text-align: center;
  font-size: 24px;
  padding: 2px;
}

.emoji:hover {
  cursor: pointer;
  font-size: 32px;
}

.navbar {
  background: #fffdfa;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  height: 0.8rem;
  /* bootstrap styling theme */
  --bs-navbar-padding-y: 0rem;
}
.nav-item {
  font-size: 0.2rem;
}

.mobile-input-box {
  display: none;
}

#mobile-smile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  main {
    width: 100vw;
    height: calc(100vh - 3rem);
  }
  .navbar {
    background: #fffdfa;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 25%);
    height: 3rem;
    --bs-navbar-padding-y: 0rem;
  }
  .newchat {
    width: 100vw;
    height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #2d2c2c;
  }

  #left-top {
    display: none;
  }

  #left-all-rooms {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    background-color: red;
  }

  .left-chat-bar {
    width: 100vw;
    margin: 0px;
    padding: 0px;
  }

  .left-chat-bar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .top-chat-bar {
    display: none;
    height: 3.5rem;
    background-color: black;
    justify-content: center;
    align-items: center;
  }

  #chat-left-room-pic-title {
    max-width: 50px;
    max-height: 50px;
  }
  .chat-bar {
    display: none;
    overflow: hidden;
    height: calc(100vh - 3rem);
  }

  .live-chat {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-y: scroll;
    width: 100%;
    background-color: transparent;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .live-chat::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .input-box {
    display: none;
  }

  .mobile-input-box {
    border-radius: 0px 0px 0px 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    background: black;
    border-top: 1px solid #cca5e3;
  }

  #chat-input-container {
    background-color: black;
    color: white;
  }

  #bottom-input-buttons {
    display: none;
  }

  #send-icon {
    max-width: 50px;
  }
  #send-svg {
    width: 2rem;
    height: 2rem;
  }
  #mobile-smile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #text-and-buttons {
    display: flex;
    flex-direction: row;
  }

  #chat-message-input {
    border-radius: 30px;
    font-size: 0.8rem;
  }

  #user-message {
    background: #ffffff;
    border-radius: 0px 30px 30px 0px;
    width: 100%;
    /* padding: 2rem 0rem 2rem 5rem; */
    padding: 0.32rem 0rem 0.32rem 0.8rem;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 800;
    justify-self: left;
    align-items: left;
    align-self: left;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.4px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  #not-user-message {
    background: #ffffff;
    border-radius: 30px 0px 0px 30px;
    width: 100%;
    padding: 0.32rem 0rem 0.32rem 0.8rem;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    justify-self: right;
    align-items: right;
    align-self: right;
    float: right;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.4px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  .navbar-toggler {
    display: none;
  }

  .left-chat-bar {
    display: flex;
    flex-direction: column;
  }
}
